# 1 NIC : first ext, mgmt, data
# 2 NIC : first ext | second : mgmt, data
# 3 NIC : first ext | second : mgmt | third : data
# Use case: 1 NIC with IP add = 192.168.10.129
# Don't care about IP add of Tacker: 192.168.120.1 (It's up to you)
NET_LIST="eth0"
BR_LIST="br-ext br-tacker"
VLAN_BR_LIST="br-ext"
VLAN_START=1000
BR_MAPPING_LIST="br-ext br-tacker"

BR_MODE="static static"
BR_IP_LIST="192.168.10.129/24 192.168.120.1/24"
BR_GW_LIST="192.168.10.1 0"
BR_DNS_LIST="192.168.10.1 0"

MGMT_IP='192.168.10.129'
LOCAL_IP='192.168.10.129'
CINDER_VOLUME=sdc1
HOSTNAME='controller'

# Set password
DEFAULT_PASS='ubuntu'

# Remove Option
REMOVE_PACKAGE='0'

# Ceilometer Option (0:False, 1:True)
IS_TELEMETRY='0'

# not yes!! networking-ovn Option (0:False, 1:True)
IS_OVN='0'

# tacker version(empty is master-not stable, default "-b stable/mitaka")
IS_TACKER='1'
TACKER_VERSION='-b stable/mitaka'

# Senlin Option (0:False, 1:True)
IS_SENLIN='0'

# mellanox
IS_MLNX='0'
##MLNX_VERSION='-b stable/mitaka'
## lspci -nn | grep Mell
PCI_VENDOR_DEVS=15b3:1004
DEVNAME=mlx0
PHYSICAL_NETWORK=ext_br-sriov
